<div class="flex-container">
    <div class="imageHolder">
        <img class="appImage" src="assets/images/SANDESH-LOGO.jpg" />
    </div>
    <div class="MenuHolder flex-container-cards">
        <mat-card class="matCard" *ngFor="let menu of menuList">
            <mat-card-title-group>
                <mat-card-title>
                    
                    <mat-icon [inline]="true" *ngIf="menu.veg" color="green" class="green">
                        circle
                    </mat-icon>
                    <mat-icon [inline]="true" *ngIf="!menu.veg" color="red" class="red">
                        circle
                    </mat-icon>
                    {{menu.title}}
                </mat-card-title>
            </mat-card-title-group>
            <mat-card-content>
                <table>
                    <tr>
                        <td class="variations">{{menu.variations}}</td>
                        <td>@</td>
                        <td class="money">{{menu.price|currency:"INR":"symbol"}}</td>
                    </tr>
                </table>
                <img class="matCardImg"  src="assets/images/{{menu.imageKey}}.jpg" mat-card-sm-image />
                
            </mat-card-content>
        </mat-card>
    </div>  
</div>
