<div class="flex-container">
    <div class="imageHolder">
        <img class="appImage" src="assets/images/SANDESH-LOGO.jpg" />
    </div>
    <div class="MenuHolder flex-container-cards">
        <mat-card class="matCard" *ngFor="let menu of menuList">
            <mat-card-title-group>
                <mat-card-title>
                    {{menu.title}}
                    <span *ngIf="menu.veg" class="material-icons-outlined green">
                        circle
                    </span>
                    <span *ngIf="menu.veg" class="material-icons-outlined red">
                        circle
                    </span>
                </mat-card-title>
                <mat-card-subtitle>{{menu.price|currency:"INR":"symbol"}}</mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
                <img class="matCardImg"  src="assets/images/{{menu.imageKey}}.jpg" mat-card-sm-image />
                <div class="variations">{{menu.variations}} </div>
            </mat-card-content>
        </mat-card>
    </div>  
</div>
