.menuHeader {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}

.subMenuHeader {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(22, 21, 21);
    color: white;
    text-align: center;
    height: 20px;
    padding-top: 10px;
  }

.phoneNumber {
    background-color: rgb(119, 31, 31);
    color: aliceblue;
    padding: 2px 2px 2px 2px;
    border-radius: 2px;
}